# Build artifacts
bin/
obj/
.vs/

# User files
*.user
*.suo
*.userprefs
*.swp

# NuGet
*.nupkg
**/packages/*

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Local DB files
carins.db
carins.db-shm
carins.db-wal

# Test results
TestResult*/
*.coverage
*.coveragexml

# Rider/VS Code
.idea/
.vscode/

# ASP.NET HTTPS dev certs
**/Properties/servicedeps.*.json
**/Properties/serviceDependencies.json

# Others
*.local.json
